@page
@model UsersModel
@{
	ViewData["Title"] = "Users List";
}

<h1>
	@ViewData["Title"]
	<a class="btn btn-primary float-right" asp-area="Identity" asp-page="/Account/Admin/CreateUser">Create User</a>
</h1>

<div class="row">

	<div class="col-md-12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Email</th>
					<th scope="col">Roles</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@for (var i = 0; i < Model.Users.Count; i++)
				{
					var user = Model.Users[i];
					<tr>
						<th scope="row">@(i+1)</th>
						<td>@user.UserName</td>
						<td>
							@foreach (var roleName in user.Roles)
							{
								@roleName<br />
							}
						</td>
						<td align="right">
							<a class="text-dark users-list-icon" asp-area="Identity" asp-page="/Account/Admin/EditUser" asp-route-userName="@user.UserName" title="Edit User">
								<i class="fa fa-edit"></i>
							</a>
							@if (user.AllowDelete)
							{
								<a class="text-dark users-list-icon" asp-area="Identity" asp-page="/Account/Admin/DeleteUser" asp-route-userName="@user.UserName" title="Delete User">
									<i class="fa fa-trash"></i>
								</a>
							}
							else
							{
								<a class="text-dark users-list-icon delete-disabled" href="javascript:void(0)">
									<i class="fa fa-trash"></i>
								</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />

@section Styles {
	<style type="text/css">
		.users-list-icon {
			padding-left: 10px;
			padding-right: 10px;
		}

		a.text-dark.delete-disabled {
			color: gray !important;
			cursor: not-allowed;
		}

			a.text-dark.delete-disabled:hover {
				color: gray !important;
			}
	</style>
}