@page "/tests/datagrid"
<Row>
	<Column>
		<Card Margin="Margin.Is4.OnY">
			<CardHeader>
				<CardTitle>Data Grid</CardTitle>
			</CardHeader>
			<CardBody>
				<CardText>Combine diferent datagrid options</CardText>
			</CardBody>
			<CardBody>
				<Fields>
					<Field>
						<FieldLabel>
						</FieldLabel>
						<FieldBody>
							<Check @bind-Checked="@editable">Editable</Check>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
						</FieldLabel>
						<FieldBody>
							<Check @bind-Checked="@sortable">Sortable</Check>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
						</FieldLabel>
						<FieldBody>
							<Check @bind-Checked="@filterable">Filterable</Check>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
						</FieldLabel>
						<FieldBody>
							<Check @bind-Checked="@showPager">Show Pager</Check>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
							Edit Mode
						</FieldLabel>
						<FieldBody>
							<Select @bind-SelectedValue="@editMode">
								<SelectItem Value="DataGridEditMode.Form">Form</SelectItem>
								<SelectItem Value="DataGridEditMode.Inline">Inline</SelectItem>
								<SelectItem Value="DataGridEditMode.Popup">Popup</SelectItem>
							</Select>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>
							Custom Search
						</FieldLabel>
						<FieldBody>
							<TextEdit @bind-Text="@customFilterValue" />
						</FieldBody>
					</Field>
				</Fields>
			</CardBody>
			<CardBody>
				<DataGrid TItem="Employee"
						  Data="@dataModels"
						  EditMode="@editMode"
						  Editable="@editable"
						  Sortable="@sortable"
						  Filterable="@filterable"
						  ShowPager="@showPager"
						  RowInserted="@OnRowInserted"
						  RowUpdated="@OnRowUpdated"
						  RowRemoved="@OnRowRemoved"
						  UseInternalEditing="true"
						  @bind-SelectedRow="@selectedEmployee"
						  DetailRowTrigger="@((item)=>item.Salaries?.Count > 0 && item.Id == selectedEmployee?.Id)"
						  Striped="true"
						  Bordered="true"
						  Hoverable="true"
						  Responsive="true"
						  CustomFilter="@OnCustomFilter">
					<DataGridAggregates>
						<DataGridAggregate TItem="Employee" Field="@nameof( Employee.EMail )" Aggregate="DataGridAggregateType.Count">
							<DisplayTemplate>
								@($"Total emails: {context.Value}")
							</DisplayTemplate>
						</DataGridAggregate>
						<DataGridAggregate TItem="Employee" Field="@nameof( Employee.Salary )" Aggregate="DataGridAggregateType.Sum" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" />
						<DataGridAggregate TItem="Employee" Field="@nameof( Employee.IsActive )" Aggregate="DataGridAggregateType.TrueCount" />
					</DataGridAggregates>
					<DataGridColumns>
						<DataGridCommandColumn TItem="Employee" Width="170px">
							<NewCommandTemplate>
								<Button Color="Color.Success" Clicked="@context.Clicked">New</Button>
							</NewCommandTemplate>
							<EditCommandTemplate>
								<Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
							</EditCommandTemplate>
							<SaveCommandTemplate>
								<Button Color="Color.Primary" Clicked="@context.Clicked">Save</Button>
							</SaveCommandTemplate>
							<DeleteCommandTemplate>
								<Button Color="Color.Danger" Clicked="@context.Clicked">Delete</Button>
							</DeleteCommandTemplate>
							<CancelCommandTemplate>
								<Button Color="Color.Secondary" Clicked="@context.Clicked">Cancel</Button>
							</CancelCommandTemplate>
							<ClearFilterCommandTemplate>
								<Button Color="Color.Warning" Clicked="@context.Clicked">Clear Filter</Button>
							</ClearFilterCommandTemplate>
						</DataGridCommandColumn>
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.Id )" Caption="#" Sortable="false" Width="60px" />
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.FirstName )" Caption="First Name" Editable="true">
							<FilterTemplate>
								<TextEdit Placeholder="Search name" TextChanged="@(v=>context.TriggerFilterChange(v))" />
							</FilterTemplate>
						</DataGridColumn>
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.LastName )" Caption="Last Name" Editable="true" />
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.EMail )" Caption="EMail" Editable="true" />
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.City )" Caption="City" Editable="true">
							<FilterTemplate>
								<Select TValue="string" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
									<SelectItem Value="@("*")">All</SelectItem>
									@foreach (var item in dataModels)
									{
										<SelectItem Value="@item.City">@item.City</SelectItem>
									}
								</Select>
							</FilterTemplate>
						</DataGridColumn>
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.Zip )" Caption="Zip" Editable="true" />
						<DataGridDateColumn TItem="Employee" Field="@nameof( Employee.DateOfBirth )" DisplayFormat="{0:dd.MM.yyyy}" Caption="Date Of Birth" Editable="true" />
						<DataGridNumericColumn TItem="Employee" Field="@nameof( Employee.Childrens )" Caption="Childrens" Editable="true" Filterable="false" />
						<DataGridSelectColumn TItem="Employee" Field="@nameof( Employee.Gender )" Caption="Gender" Editable="true">
							<DisplayTemplate>
								@{
									var gender = (context as Employee)?.Gender;

									@if (gender == "M")
									{
										@("Male")
									}
									else if (gender == "F")
									{
										@("Female")
									}
								}
							</DisplayTemplate>
							<EditTemplate>
								<Select TValue="string" SelectedValue="@((string)( ( (CellEditContext)context ).CellValue ))" SelectedValueChanged="@(( v ) => ( (CellEditContext)context ).CellValue = v)">
									<SelectItem TValue="string" Value="null"></SelectItem>
									<SelectItem TValue="string" Value="@("M")">Male</SelectItem>
									<SelectItem TValue="string" Value="@("F")">Female</SelectItem>
								</Select>
							</EditTemplate>
						</DataGridSelectColumn>
						<DataGridColumn TItem="Employee" Field="@nameof( Employee.Salary )" Caption="Salary" Editable="true" Width="140px" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" TextAlignment="TextAlignment.Right">
							<EditTemplate>
								<NumericEdit TValue="decimal" Value="@((decimal)( ( (CellEditContext)context ).CellValue ))" ValueChanged="@(v => ( (CellEditContext)context ).CellValue = v)" />
							</EditTemplate>
						</DataGridColumn>
						<DataGridCheckColumn TItem="Employee" Field="@nameof(Employee.IsActive)" Caption="Active" Editable="true" Filterable="false">
							<DisplayTemplate>
								<Check TValue="bool" Checked="context.IsActive" Disabled="true" ReadOnly="true" />
							</DisplayTemplate>
						</DataGridCheckColumn>
					</DataGridColumns>
					<DetailRowTemplate>
						@{
							var salaries = (context as Employee).Salaries;

							<DataGrid TItem="Salary"
									  Data="salaries"
									  Sortable="false"
									  ShowCaptions="false">
								<DataGridCommandColumn TItem="Salary" />
								<DataGridDateColumn TItem="Salary" Field="@nameof(Salary.Date)" Caption="Date" />
								<DataGridNumericColumn TItem="Salary" Field="@nameof(Salary.Total)" Caption="Total" />
							</DataGrid>
						}
					</DetailRowTemplate>
				</DataGrid>
			</CardBody>
		</Card>
	</Column>
</Row>
<Row>
	<Column>
		<Card>
			<CardHeader>
				<CardTitle>Selected Employee</CardTitle>
			</CardHeader>
			<CardBody>
				<Fields>
					<Field>
						<FieldLabel>First Name</FieldLabel>
						<FieldBody>
							<TextEdit ReadOnly="true" Text="@selectedEmployee?.FirstName"></TextEdit>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>Last Name</FieldLabel>
						<TextEdit ReadOnly="true" Text="@selectedEmployee?.LastName"></TextEdit>
					</Field>
				</Fields>
				<Fields>
					<Field>
						<FieldLabel>Email</FieldLabel>
						<FieldBody>
							<TextEdit ReadOnly="true" Text="@selectedEmployee?.EMail"></TextEdit>
						</FieldBody>
					</Field>
					<Field>
						<FieldLabel>City</FieldLabel>
						<TextEdit ReadOnly="true" Text="@selectedEmployee?.City"></TextEdit>
					</Field>
				</Fields>
			</CardBody>
		</Card>
	</Column>
</Row>