@page "/fetch_data"

<h1>Product list</h1>

<MatTable Class="mat-elevation-z5" Items="@products" Striped="true" FilterByColumnName="Name" DebounceMilliseconds="150" Id="product-list" PageSize="@pageSize" @ref="tableRef">
	<MatTableHeader>
		<th class="product-actions">
			<div>
				<MatButton Icon="playlist_add" Label="Add" OnClick="@((e) => OpenDialog(null))" Raised="true"></MatButton>
			</div>
		</th>
		<th class="product-id">Id</th>
		<th class="product-name">Name</th>
		<th class="product-price">Price</th>
	</MatTableHeader>
	<MatTableRow Context="ProductRow">
		<td>
			<MatIconButton Icon="delete" OnClick="@(() => OpenDeleteDialog(ProductRow.Id))"></MatIconButton>
			<MatIconButton Icon="edit" OnClick="@(() => OpenDialog(ProductRow.Id))"></MatIconButton>
		</td>
		<td>@ProductRow.Id</td>
		<td>@ProductRow.Name</td>
		<td class="product-price">@ProductRow.Price.ToString("C")</td>
	</MatTableRow>
</MatTable>

<MatDialog @bind-IsOpen="@dialogIsOpen" Id="product-create-popup">
	<MatDialogTitle>@(isEditing ? "Edit Product" : "Create Product")</MatDialogTitle>
	<EditForm Model="@product" OnValidSubmit="@CreateOrUpdateProduct">
		<MatDialogContent>

			<FluentValidator></FluentValidator>

			<fieldset>
				<div class="form-group">
					<MatTextField Label="Name"
								  @bind-Value="@product.Name"
								  FullWidth="true">
					</MatTextField>
					<ValidationMessage For="@(() => product.Name)" />

					<MatNumericUpDownField Label="Price"
										   @bind-Value=@product.Price
										   FieldType="MatNumericUpDownFieldType.Currency"
										   DecimalPlaces="2"
										   FullWidth="true">
					</MatNumericUpDownField>
					<ValidationMessage For="@(() => product.Price)" />
				</div>
			</fieldset>
		</MatDialogContent>
		<MatDialogActions>
			<MatButton Type="button" OnClick="@(e => { dialogIsOpen = false; })">Cancel</MatButton>
			<MatButton Type="submit">@(isEditing ? "Update" : "Create")</MatButton>
		</MatDialogActions>
	</EditForm>
</MatDialog>

<MatDialog @bind-IsOpen="@deleteDialogOpen" Style="z-index:100">
	<MatDialogTitle><MatIcon Icon="warning"></MatIcon> Confirm Delete</MatDialogTitle>
	<MatDialogContent>
		Are you sure you want to delete product "@product.Name" ?
	</MatDialogContent>
	<MatDialogActions>
		<MatButton OnClick="@(e => { deleteDialogOpen = false; })">Cancel</MatButton>
		<MatButton OnClick="@DeleteProduct">Delete</MatButton>
	</MatDialogActions>
</MatDialog>