@page "/fetch_data"
@inherits ExceptionSafeComponentBase

<h1>Product list</h1>

<MatTable Class="mat-elevation-z5" Items="@products" Striped="true" FilterByColumnName="Title" DebounceMilliseconds="150" PageSize="10" Id="product-list">
	<MatTableHeader>
		<th class="product-actions">
			<div>
				<MatButton Icon="playlist_add" Label="Add" OnClick="@((e) => OpenDialog())" Raised="true"></MatButton>
			</div>
		</th>
		<th class="product-id">Id</th>
		<th class="product-name">Name</th>
		<th class="product-price">Price</th>
	</MatTableHeader>
	<MatTableRow Context="ProductRow">
		<td>
			<MatIconButton Icon="delete" OnClick="@(() => OpenDeleteDialog(ProductRow.Id))"></MatIconButton>
		</td>
		<td>@ProductRow.Id</td>
		<td>@ProductRow.Name</td>
		<td class="product-price">@ProductRow.Price.ToString("C")</td>
	</MatTableRow>
</MatTable>

<MatDialog @bind-IsOpen="@dialogIsOpen">
	<MatDialogTitle>Create Product</MatDialogTitle>
	<MatDialogContent>
		<EditForm Model="@product" OnValidSubmit="@NewProduct">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<fieldset>
				<div class="form-group">
					<MatTextField @bind-Value="@product.Name" Label="Title" Icon="title" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
				</div>
			</fieldset>
		</EditForm>
	</MatDialogContent>
	<MatDialogActions>
		<MatButton OnClick="@(e => { dialogIsOpen = false; })">Cancel</MatButton>
		<MatButton OnClick="@NewProduct">Create Product</MatButton>
	</MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@deleteDialogOpen" Style="z-index:100">
	<MatDialogTitle><MatIcon Icon="warning"></MatIcon> Confirm Delete</MatDialogTitle>
	<MatDialogContent>
		Are you sure you want to delete product "@product.Name" ?
	</MatDialogContent>
	<MatDialogActions>
		<MatButton OnClick="@(e => { deleteDialogOpen = false; })">Cancel</MatButton>
		<MatButton OnClick="@Delete">Delete</MatButton>
	</MatDialogActions>
</MatDialog>